<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649113819975-tfkdghag3d3jmhuag48f7kreqve3f0eh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649113819975-tfkdghag3d3jmhuag48f7kreqve3f0eh</string>
	<key>API_KEY</key>
	<string>AIzaSyD6vPYk7kJa2skCYDNqeApA7W62ap9KMaI</string>
	<key>GCM_SENDER_ID</key>
	<string>649113819975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.jtnovellis.deno.notesapp</string>
	<key>PROJECT_ID</key>
	<string>jtn-notesapp</string>
	<key>STORAGE_BUCKET</key>
	<string>jtn-notesapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649113819975:ios:d20c420bdc757eb18fca62</string>
</dict>
</plist>